<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Layout</title>
    </head>
    <body>
        <header th:fragment="header">
            <form th:action="@{/users/search}" method="POST">
                <input type="text" name="name" placeholder="Search for users"/>
                <input type="submit" value="Search"/>
            </form>
        </header>


            <table th:fragment="friendDiv(person, connectionId)">
                <tr>
                    <td>
                        <a th:text="${person.name}" th:href="@{/users/{urlString}(urlString=${person.urlString})}"></a>
                    </td>
                    <td>
                        <form th:action="@{/connection/{id}/disconnect(id=${connectionId})}" method="POST">
                            <input type="submit" value="Disconnect"/>
                        </form>
                    </td>
                </tr>
            </table>
    </body>
</html>