<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            #searchBar {text-align: center;}
        </style>
    </head>
    <body>
        <header th:fragment="header(username)">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Blinged Inn</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <li class="nav-item" id="searchBar">
                    <form th:action="@{/users/search}" method="POST" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search for users" aria-label="Search"/>
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                </ul>
            <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()" class="nav-item active">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
          </div>
        </nav>
        </header>

            <table class="table" th:fragment="friendDiv(friend, account)">
                <tr>
                    <td>
                        <a th:text="${friend.name}" th:href="@{/users/{urlString}(urlString=${friend.urlString})}"></a>
                    </td>
                    <td th:if="${#authentication.getPrincipal().getUsername().equals(account.username)}">
                        <form th:action="@{/connection/disconnect}" method="POST">
                            <input type="hidden" th:value="${friend.id}" name="oneId"/>
                            <input type="hidden" th:value="${account.id}" name="twoId"/>
                            <input type="submit" value="Disconnect"/>
                        </form>
                    </td>
                </tr>
            </table>
    </body>
</html>