<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Layout</title>
    </head>
    <body>
        <header th:fragment="header">
            <form th:action="@{/users/search}" method="POST">
                <input type="text" name="name" placeholder="Search for users"/>
                <input type="submit" value="Search"/>
            </form>
            <div sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>
            </div>

        </header>


            <table th:fragment="friendDiv(friend, user)">
                <tr>
                    <td>
                        <a th:text="${friend.name}" th:href="@{/users/{urlString}(urlString=${friend.urlString})}"></a>
                    </td>
                    <td>
                        <form th:action="@{/disconnect}" method="POST">
                            <input type="submit" value="Disconnect"/>
                        </form>
                    </td>
                </tr>
            </table>
    </body>
</html>