<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Profile</title>
</head>
<body>

<div th:replace="fragments/layout :: header"></div>

<div>
    <h1 th:text="${account.name}">user</h1>
    <img th:src="@{/users/{id}/pics(id=${account.id})}" width="25%"/>

    <form th:action="@{/users/{urlString}/pics(urlString=${account.urlString})}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Send!"/>
    </form>
</div>
<div>
    <h2>Freinds</h2>
    <div th:each="connection : ${connections}">
        <div th:if="${connection.receiver.username.equals(account.username)}">
            <table>
                <tr>
                    <td>
                        <a th:text="${connection.sender.name}" th:href="@{/users/{urlString}(urlString=${connection.sender.urlString})}"></a>
                    </td>
                    <td>
                        <form th:action="@{/connection/{id}/disconnect(id=${connection.id})}" method="POST">
                            <input type="submit" value="Disconnect"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${not connection.receiver.username.equals(account.username)}">
            <table>
                <tr>
                    <td>
                        <a th:text="${connection.receiver.name}" th:href="@{/users/{urlString}(urlString=${connection.receiver.urlString})}"></a>
                    </td>
                    <td>
                        <form th:action="@{/connection/{id}/disconnect(id=${connection.id})}" method="POST">
                            <input type="submit" value="Disconnect"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div>
    <h2>Requests</h2>
    <div th:each="request : ${requests}">
        <div th:if="${request.receiver.username.equals(account.username)}">
                <table>
                    <tr>
                        <td>
                            <a th:text="${request.sender.name}" th:href="@{/users/{urlString}(urlString=${request.sender.urlString})}"></a>
                        </td>
                        <td>
                            <form th:action="@{/connection/{id}/accept(id=${request.id})}" method="POST">
                                <input type="submit" value="Accept"/>
                            </form>
                        </td>
                        <td>
                            <form>
                                <input type="submit" value="Decline"/>
                            </form>
                        </td>
                    </tr>
                </table>
        </div>
        <div th:if="${not request.receiver.username.equals(account.username)}">
            <a th:text="${request.receiver.name}" th:href="@{/users/{urlString}(urlString=${request.receiver.urlString})}"></a>
        </div>

    </div>
</div>


</body>
</html>
