<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Profile</title>
</head>
<body>

<div th:replace="fragments/layout :: header"></div>

<h1 th:text="${account.username}">user</h1>

<img th:src="@{/users/{id}/pics(id=${account.id})}" width="25%"/>

<form th:action="@{/users/{urlString}/pics(urlString=${account.urlString})}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Send!"/>
</form>

</body>
</html>
