<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/layout :: header(username=${user})"></div>

<div class="container">
    <div>
        <h1 th:text="${account.name}">user</h1>
        <img th:src="@{/users/{id}/pics(id=${account.id})}" width="15%"/>

        <div th:if="${#authentication.getPrincipal().getUsername().equals(account.username)}">
            <h5>Change profile picture</h5>
            <form th:action="@{/users/{urlString}/pics(urlString=${account.urlString})}"
                  method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="Send!"/>
            </form>
        </div>
    </div>

    <br/>

    <div id="skills">
        <h2>Skills</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Skill</th>
                <th scope="col">Compliments</th>
            </tr>
            </thead>
            <div th:each="skill, iter : ${account.skills}">
                <tr th:if="${iter.count} <= 3" class="table-primary">
                    <td th:text="${skill.name}"></td>
                    <td th:text="${skill.compliments}"></td>
                    <td th:if="${not #authentication.getPrincipal().getUsername().equals(account.username)}">
                        <form th:action="@{/users/{urlString}/skills/{skillId}(urlString=${account.urlString}, skillId=${skill.id})}" method="POST">
                            <input type="submit" value="Compliment"/>
                        </form>
                    </td>
                </tr>
                <tr th:if="${iter.count} > 3" >
                    <td th:text="${skill.name}"></td>
                    <td th:text="${skill.compliments}"></td>
                    <td th:if="${not #authentication.getPrincipal().getUsername().equals(account.username)}">
                        <form th:action="@{/users/{urlString}/skills/{skillId}(urlString=${account.urlString}, skillId=${skill.id})}" method="POST">
                            <input type="submit" value="Compliment"/>
                        </form>
                    </td>
                </tr>

            </div>
        </table>

        <div th:if="${#authentication.getPrincipal().getUsername().equals(account.username)}">
            <h5>Add a skill</h5>
            <form th:action="@{/users/{urlString}/skills(urlString=${account.urlString})}" method="POST" >
                <input type="text" name="skillName"/>
                <input type="submit" value="Add skill"/>
            </form>
        </div>
    </div>

    <br/>

    <div>
        <h2>Connections</h2>
        <div th:each="connection : ${account.connections}">
            <div th:replace="fragments/layout :: friendDiv(friend=${connection}, account=${account})">
            </div>
        </div>
    </div>

    <div th:if="${#authentication.getPrincipal().getUsername().equals(account.username)}">
        <h2>Requests</h2>
        <div th:each="request : ${requests}">
            <div th:if="${request.receiver.username.equals(account.username)}">
                <table class="table">
                    <tr>
                        <td>
                            <a th:text="${request.sender.name}" th:href="@{/users/{urlString}(urlString=${request.sender.urlString})}"></a>
                        </td>
                        <td>
                            <form th:action="@{/connection/{id}/accept(id=${request.id})}" method="POST">
                                <input type="submit" value="Accept"/>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/connection/{id}/decline(id=${request.id})}" method="POST">
                                <input type="submit" value="Decline"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${not request.receiver.username.equals(account.username)}">
                <a th:text="${request.receiver.name}" th:href="@{/users/{urlString}(urlString=${request.receiver.urlString})}"></a>
            </div>

        </div>
    </div>
</div>

</body>
</html>
