<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<h2>New account</h2>

<form method="POST" th:action="@{/register}">
    <input type="text" name="name"/>
    <input type="text" name="username"/>
    <input type="password" name="password"/>

    <h3>How would you like to be found?</h3>
    <p>https://localhost:8080/users/<input type="text" name="urlString" placeholder="url end goes here"></p>
    <input type="submit" value="Add new account!"/>
</form>

</body>
</html>